extends layout
block content
	dialog#myDialog
		p Project deleted
		form(method='dialog')
			button ok
	script.
		const dialog=document.querySelector('#myDialog');
		const delbut=dialog.querySelector('button');
		if(typeof dialog.showModal!=='function'){
			dialog.hidden=true;
		}
		delbut.onclick=function(){
			location.reload();
		}
		const xhr=new XMLHttpRequest();
		xhr.onload=function(){
			var res=JSON.parse(this.responseText);
			if(typeof dialog.showModal!=='function')
				console.log(alert('Project deleted'));
			else
				dialog.showModal();
			console.log("res:",res.eve);
		}
		function delProj(id){
			xhr.open('POST','/record/eve');
			xhr.setRequestHeader('Content-Type','application/json');
			xhr.send(JSON.stringify({eve:'delproj',id:id}));
		}
	each proj in projects
		-var songId="'play"+proj.id+"'"
		-var songId0='play'+proj.id
		-var delproj='delProj("'+proj.id+'")'
		-var url="'/project/audio/"+proj.id+"'"
		.projects
			a.mlist(href=proj.url) #{proj.title}
			.projicons
				img.ico(src='/images/play.svg' id=songId0)
				img.ico(src='/images/delete.svg' onclick=delproj)
		script.
			var play=document.getElementById(#{songId});
			var aud=new Audio(#{url});
			play.onclick=e=>{
				if(aud.paused)
					aud.play();
				else
					aud.pause();
			}
			aud.onloadstart=e=>{
				play.src='/images/load.png';
			}
			aud.oncanplaythrough=e=>{
				play.src='/images/play.svg';
			}
			aud.onplay=e=>{
				play.src='/images/pause.svg';
			}
			aud.onpause=e=>{
				play.src='/images/play.svg';
			}
	else
		li(style='padding:.5em;') There are no projects...
	a(href='/projects/create')
		img(src='/images/add.svg'
			style='width:3.5em;height:3.5em;\
			position:fixed;bottom:2em;right:2em;')
